services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    env_file:
      - ${BASE_DIR}.env
    container_name: cadvisor
    restart: unless-stopped
    ports:
      - "${CADVISOR_PORT}:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - ${HOMEBOX_NETWORK}
  
  prometheus:
    image: prom/prometheus:latest
    env_file:
      - ${BASE_DIR}.env
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "${PROMETHEUS_PORT}:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - ${HOMEBOX_NETWORK}

networks:
  Homebox:
    external: true
