services:

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    env_file:
      - ${NERON_BASE}.env

    container_name: cadvisor
    restart: unless-stopped
    ports:
      - "${CADVISOR_HTTP}:8080"

    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - Homebox

  prometheus:
    image: prom/prometheus:latest
    env_file:
      - ${NERON_BASE}.env

    container_name: prometheus
    restart: unless-stopped
    ports:
      - "${PROMETHEUS_HTTP}:9090"

    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - Homebox

networks:
  Homebox:
    name: ${HOMEBOX_NETWORK}
    external: true
